{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/geo_geo.png' %}">
    {% block cssfile %} {% endblock cssfile %}
    <script src="{% static 'js/main.js' %}"></script>
    <title>Geo Geo</title>


</head>
<body>
    <header>
        <nav>
            <div class="left">
                <a href="/" style="color:black; ">
                <div class="logo">


                    <p>Geo_<span class="logo-spn">Geo</span></p>
                </div>
                </a>

            </div>
            <div class="right">

                
                <a href="#" class="nav-right-links" title="Get all projects details">
                    <button>API</button> 

                </a>

               <div class="dashboard-link" onclick="show_dash_options()" id="dashboard-link" title="Admin Dashboard">
                    <div class="ic">
                        <div class="d-icon"></div>
                        <div class="d-icon"></div>
                        <div class="d-icon"></div>
                    </div>
                    <div class="ic">
                        <div class="d-icon"></div>
                        <div class="d-icon"></div>
                        <div class="d-icon"></div>
                    </div>
                    <div class="ic">
                        <div class="d-icon"></div>
                        <div class="d-icon"></div>
                        <div class="d-icon"></div>
                    </div>


               </div>

               <div class="profile-toggle d-none" id="dashboard-toggle">
                   <div class="arrow"></div>
                <ul>

                     <li>
                         <a href="">
                             <img src="{% static 'images/admin.png' %}" alt="Admin Icon">
                             <a href="">Admin User</a>
                         </a>
                     </li>
                    {% if request.user.is_MOP %}
                         <li>
                             <a href="">
                                 <img src="{% static 'images/approve.png' %}" alt="Approve Icon">
                                <a href="">Approval Section <span style="color:red"></span></a>
                             </a>
                         </li>

                    {% else %}

                        <li>
                             <a href="">
                                 <img src="{% static 'images/upload.png' %}" alt="Upload Icon">
                                <a href="">Upload File <span style="color:red">(x)</span></a>
                             </a>
                         </li>
                    {% endif %}


                </ul>
            </div>

            </div>
        </nav>
    </header>

{% block container %}
    <div class="container">

        {% csrf_token %}

        <div class="section-details">

            <div class="search-field">
                <div class="s-c">
                    <div class="s-f-header">
                        Search Project
                    </div>

                    <label for="category" style="opacity:.7">Search</label>

                    <input type="text" id="keyword" oninput="filter_data()" placeholder="search by anything . . ." class="search-by-anything">

                    <label for="category" style="opacity:.7">Filter by Category</label>

                    <select name="category" id="agency" style="opacity:.8" onchange="filter_data()" class="category">
                        <option value selected>-------------</option>
                        {% for data in agencies %}
                            <option value="{{data}}">{{data}}</option>
                        {% endfor %}
                    </select>

                    <label for="category" style="margin-top:1.5em; opacity:.8">Filter by Time Range (opt)</label>
                    <div class="filter-by-time-range">
                        <label for="time-range-start">Start :</label>
                         <select name="start_date" id="time-range-start" onchange="filter_data()" class="category s">
                            <option value>-------------</option>
                            {% for data in start_dates %}
                                <option value="{{data}}">{{data}}</option>
                            {% endfor %}
                        </select>

                        <label for="time-range-end">End :</label>
                         <select name="end_date" id="time-range-end" onchange="filter_data()" class="category e">
                            <option value>-------------</option>
                            {% for data in end_dates %}
                                <option value="{{data}}">{{data}}</option>
                            {% endfor %}
                        </select>

                    </div>


                    <form id="get-project-details" method="post">
                        {% csrf_token %}

                        <label id="b-csrf" for="project">Choose Project</label>
                        <div id="s-proj">
                            <select name="project" required id="id_project"  class="category">
                                <option value>-------------</option>
                                {% for data in projects %}
                                    <option value="{{data.project_id}}">{{data.project_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button class="btn" type="submit">Query</button>
                    </form>
                </div>

            </div>

            <div class="detail-field" id="detail-field" style="width:100%;">

                <div class="loader d-none" id="loader"></div>
                <p class="d-f-c-txt" id='d-f-c-txt'>After your search <b> Visual</b>  will appear here, and <b>Details</b>  will appear below.</p>
                
                 <div class="section-map section-visual" id="section-visual" style="height:481.66px">

                </div>

            </div>

        </div>

        <div class="project-details" id="project-details">
        </div>

      <img src="" alt="">
        <div class="footer"> <p> Developed by <span> Jahir Raihan Joy & cpi bug_rangers</span></p></div>
    </div>


{% endblock container %}

</body>
</html>

