<p class="proj-det-title">Project Details</p>
<div class="detail-box" id="ndre-details">

    
    <table>
        <tr class="title-row">
            <td>Property</td>
            <td>Value</td>
        </tr>

        <tr>
            <td>Project Name</td>
            <td>{{project.project_name}}</td>
        </tr>
        <tr>
            <td>Implementing Agency</td>
            <td>{{project.implementing_agency}}</td>
        </tr>
        <tr>
            <td>Project Code</td>
            <td>{{project.project_code}}</td>
        </tr>
        <tr>
            <td>Technology Type</td>
            <td>{{project.technology_type}}</td>
        </tr>
        <tr>
            <td>Grid Status</td>
            <td>{{project.grid_status}}</td>
        </tr>
        <tr>
            <td>Capacity</td>
            <td>{{project.capacity}}</td>
        </tr>
        <tr>
            <td>Budget</td>
            <td>{{project.budget}}</td>
        </tr>
        <tr>
            <td>Present Status</td>
            <td>{{project.present_status}}</td>
        </tr>
        <tr>
            <td>Financing Org</td>
            <td>{{project.funded_by}}</td>
        </tr>
        <tr>
            <td>Division</td>
            <td>{{project.division}}</td>
        </tr>
        <tr>
            <td>District</td>
            <td>{{project.district}}</td>
        </tr>
        <tr>
            <td>Upazilla</td>
            <td>{{project.upazilla}}</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>{{project.location}}</td>
        </tr>
        <tr>
            <td>Expected CO2 Reduction</td>
            <td>{{project.expected_life_time}}</td>
        </tr>
        <tr>
            <td>Name of PD</td>
            <td>{{project.pd_name}}</td>
        </tr>


    </table>
</div>